[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.2"
redis = "*"
django = "<3"
werkzeug = "*"
elasticsearch = "*"
djangorestframework = "*"
django-redis = "*"
uwsgi = "*"
flower = "*"
bjoern = "*"
mysqlclient = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
"autopep8" = "*"
radon = "*"
memory-profiler = "*"
coverage = "*"
pylint = "*"
black = "*"
yapf = "*"

[requires]
python_version = "*"
