[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.2"
redis = "*"
django = "<2"
werkzeug = "*"
elasticsearch = "*"
djangorestframework = "*"
django-redis = "*"
uwsgi = "*"
flower = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
"autopep8" = "*"
radon = "*"

[requires]
python_version = "*"
